@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 180 35% 15%;

    --card: 40 35% 90%;
    --card-foreground: 180 35% 15%;

    --popover: 40 35% 90%;
    --popover-foreground: 180 35% 15%;

    --primary: 180 45% 20%;
    --primary-foreground: 40 35% 90%;

    --secondary: 40 35% 90%;
    --secondary-foreground: 180 35% 15%;

    --muted: 40 20% 85%;
    --muted-foreground: 180 15% 40%;

    --accent: 180 45% 45%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 40 20% 80%;
    --input: 40 20% 85%;
    --ring: 180 45% 45%;

    --radius: 1rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 180 45% 15%;
    --foreground: 40 35% 90%;

    --card: 180 35% 25%;
    --card-foreground: 40 35% 90%;

    --popover: 180 35% 25%;
    --popover-foreground: 40 35% 90%;

    --primary: 40 35% 90%;
    --primary-foreground: 180 45% 15%;

    --secondary: 180 35% 25%;
    --secondary-foreground: 40 35% 90%;

    --muted: 180 25% 30%;
    --muted-foreground: 40 20% 70%;

    --accent: 180 45% 45%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 180 25% 30%;
    --input: 180 25% 30%;
    --ring: 180 45% 45%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
